# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
- Identify in which Kernel your Jupyter notebook is running
- Get an overview of code and markdown cells
- Create and use Markdown cells
- Create Tables in Markdown
- Create ordered and unordered lists in Markdown
- Use Git and upload repository

Some of the popular languages that Data Scientists use are:
1. Go
2. C#
3. Python
4. JavaScript
5. Java
6. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| -------------|
| Apache Spark |
| RapidMiner |
| TensorFlow |
| Apache Hadoop |
| Excel |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author hungbv